@font-face {
    font-family: poppinsBold;
    src: url('../public/Poppins-Bold.ttf')
  }
  
  @font-face {
    font-family: poppinsMedium;
    src: url('../public/Poppins-Medium.ttf')
  }
  
  @font-face {
    font-family: poppinsRegular;
    src: url('../public/Poppins-Regular.ttf')
  }
  
  @font-face {
    font-family: poppinsSemiBold;
    src: url('../public/Poppins-SemiBold.ttf')
  }

.btn_buy {
    border: 2px solid black;
    background-color: #0198ff;
    color: black;
    padding: 10px 18px;
    font-size: 12px;
    cursor: pointer;
    border-color: #0198ff;
    color: white;
    margin-right: 10px;
    z-index: 2;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: .2s ease-in-out .2s;
    -webkit-transition: .2s ease-in-out .2s;
    width: 96px;
    height: 40px;
  }
  
  .btn_buy:hover {
    background-color: transparent;
    color: #0198ff;
  }

  .coin__row:hover .btn_buy{
    opacity: 1;
}

.coin__graph{
    opacity: 1;
    transition: .2s ease-in-out .2s;
    -webkit-transition: .2s ease-in-out .2s;
}

.coin__row:hover .coin__graph{
    opacity: 0;
}

  .btn_trade {
    border: 2px solid black;
    background-color: #0198ff;
    color: black;
    padding: 10px 18px;
    font-size: 12px;
    cursor: pointer;
    border-color: transparent;
    color: white;
    margin-right: 10px;
  }
  
  .btn_trade:hover {
    background-color: transparent;
    color: #0198ff;
    border-color: #0198ff;
  }

  .buybuttons {
      display: flex;
      justify-content: space-between;
  }

  .header__container{
    display: flex;
    justify-content: center;
}

.header__row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 73px;
    border-bottom: 1px solid #B1B5C3;
    width: 1000px;
    /* padding: 0rem 2rem; */
    color: white;
    font-family: 'poppinsSemiBold';
}

.header__name{
    width: 170px;
    text-align: left;
    color: #FCFCFD;
    font-size: 12px;
}

.header__price{
    width: 200px;
    text-align: right;
    color: #FCFCFD;
    font-size: 12px;
    margin-right: 20px;
}

.header__24h{
    width: 170px;
    text-align: center;
    color: #FCFCFD;
    font-size: 12px;
}

.header__marketcap{
    width: 170px;
    text-align: center;
    color: #FCFCFD;
    font-size: 12px;
}

.header__volume{
    width: 170px;
    text-align: right;
    color: #FCFCFD;
    font-size: 12px;
}

.header__chart{
    width: 170px;
    text-align: right;
    color: #FCFCFD;
    font-size: 12px;
}

.coin__container{
    display: flex;
    justify-content: center;
}
.coin__row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 73px;
    border-bottom: 1px solid #E6E8EC;
    width: 1000px;
    /* padding: 0rem 2rem; */
    color: white;
    font-family: 'poppinsMedium';
}
/* .coin__row:hover{
    background: rgb(244,245,246, 0.2);
    background: #2E3139;
} */
.coin{
    display: flex;
    align-items: center;
    padding-right: 24px;
}
.coin__img{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}
.coin__h1{
    font-size: 16px;
    width: 150px;
}
.coin__symbol{
    /* text-transform: uppercase; */
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
    color: #FFFFFF;
    /* font-weight: bold; */
}
.coin__data{
    display: flex;
    text-align: right;
    justify-content: space-between;
    width: 100%;
}

.coin__data_p{
    display: flex;
    text-align: right;
    justify-content: space-between;
    width: 100%;
    color: gray;
}

.coin__price{
    width: 110px;
    color: #FFFFFF;
    /* font-weight: bold; */
    transform: translateY(25%);
    text-align: right;
    margin-right: 30px;
}
.coin__volume{
    width: 155px;
}
.coin__marketcap{
    width: 230px;
}
.coin__percent{
    width: 100px;
}
.coin__high_24{
    width: 170px;
    color: #FFFFFF;
    /* font-weight: bold; */
    transform: translateY(25%);
    text-align: left;
}
.coin__low_24{
    width: 130px;
    color: #FFFFFF;
    /* font-weight: bold; */
    transform: translateY(25%);
    text-align: left;
}
.red{
    color: #F84343;
    width: 110px;
    /* font-weight: bold; */
    transform: translateY(25%);
    text-align: left;
    margin-left: 17px;
}
.green{
    color: #28B594;
    width: 110px;
    /* font-weight: bold; */
    transform: translateY(25%);
    text-align: left;
    margin-left: 17px;
}

.coin__innerrow {
    position: relative;
    margin-right: 10px;
}

.icons_sym {
    position: relative;
    width: 230px;
    text-align: left;
    transform: translateY(9%);
    margin-left: 10px;
}

.coin_logo {
    height: 28px;
    display: inline-block;
    vertical-align: middle;
    width: 28px;
    /* position: absolute;
    top: 40%;
    right: 50%;
    margin-right: 10px;
    transform: translate(-50%, -50%); */
}

.symbol_span {
    color: #777E90;
    text-transform: uppercase;
    font-family: 'poppinsRegular';
}

/* Header Landing */
.header__name_landing{
    width: 170px;
    text-align: left;
    color: #777E90;
    font-size: 12px;
}

.header__price_landing{
    width: 200px;
    text-align: right;
    color: #777E90;
    font-size: 12px;
    margin-right: 20px;
}

.header__24h_landing{
    width: 170px;
    text-align: center;
    color: #777E90;
    font-size: 12px;
}

.header__marketcap_landing{
    width: 170px;
    text-align: center;
    color: #777E90;
    font-size: 12px;
}

.header__volume_landing{
    width: 170px;
    text-align: right;
    color: #777E90;
    font-size: 12px;
}

.header__chart_landing{
    width: 170px;
    text-align: right;
    color: #777E90;
    font-size: 12px;
}
/* End Header Landing */

/* Coins List Landing */
.icons_sym_landing {
    position: relative;
    width: 300px;
    text-align: left;
    transform: translateY(9%);
    margin-left: 10px;
}

.coin__symbol_landing{
    /* text-transform: uppercase; */
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
    color: #23262F;
    /* font-weight: bold; */
}

.coin__price_landing{
    width: 110px;
    color: #23262F;
    /* font-weight: bold; */
    transform: translateY(25%);
    text-align: right;
    margin-right: 30px;
}

.coin__high_24_landing{
    width: 170px;
    color: #23262F;
    /* font-weight: bold; */
    transform: translateY(25%);
    text-align: left;
}
/* End Coins List Landing */