@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: avenir;
  src: url('../public/Avenir\ Light.ttf');
}

@font-face {
  font-family: poppinsBold;
  src: url('../public/Poppins-Bold.ttf')
}

@font-face {
  font-family: poppinsMedium;
  src: url('../public/Poppins-Medium.ttf')
}

@font-face {
  font-family: poppinsRegular;
  src: url('../public/Poppins-Regular.ttf')
}

@font-face {
  font-family: poppinsSemiBold;
  src: url('../public/Poppins-SemiBold.ttf')
}

@font-face {
  font-family: DMSansBold;
  src: url('../public/DMSans-Bold.ttf')
}

@font-face {
  font-family: DMSansBoldItalic;
  src: url('../public/DMSans-BoldItalic.ttf')
}

@font-face {
  font-family: DMSansItalic;
  src: url('../public/DMSans-Italic.ttf')
}

@font-face {
  font-family: DMSansMedium;
  src: url('../public/DMSans-Medium.ttf')
}

@font-face {
  font-family: DMSansMediumItalic;
  src: url('../public/DMSans-MediumItalic.ttf')
}

@font-face {
  font-family: DMSansRegular;
  src: url('../public/DMSans-Regular.ttf')
}

html,
body {
  background-color: #141416;
  padding: 0;
  margin: 0;
  /* font-family: "avenir"; */
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-size: 14px;
}

/* Navigation */

.main-logo{
  border-right: 1px solid black;
  height: 40px;
}


.vertical-line{
  border-right: 1px solid;
  height: 32px;
  margin-top: 19px;
}

.primary-nav{
  font-family: "DMSansRegular";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.secondary-nav{
  font-family: "DMSansRegular";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}

/* End Navigation */

/* Hero Section */
.hero-title{
  position: static;
  width: 676px;
  height: 128px;
  left: 0px;
  top: 100px;

  font-family: 'poppinsSemiBold';
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.02em;
  color: #000000;

  font-size: 2.5rem;
  line-height: 3rem;
}

.hero-content{
  width: 509px;
  height: 117px;
  left: 0px;
  top: 265px;
  font-family: 'poppinsRegular';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.02em;
}

.mockup-pic{
  position: static;
  width: 808px;
  height: 600px;
  left: 0px;
  top: 0px;

  filter: drop-shadow(0px 10px 25px rgba(0, 0, 0, 0.25));



  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 50px 0px;
}

.store-logo{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: static;
  width: 275px;
  height: 40px;
  left: 0px;
  top: 419px;
  margin-left: -14px;
  margin-bottom: 40px;
}
/* End Hero Section */

/* Hero Section 2 */
.mockup-pic2{
  position: static;
  width: 749px;
  height: 500px;
  left: 0px;
  top: 0px;
  
  filter: drop-shadow(0px 10px 25px rgba(0, 0, 0, 0.25));
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 50px;
}

.hero-title2{
  position: static;
  width: 676px;
  height: 128px;
  left: 0px;
  top: 100px;

  font-family: 'poppinsSemiBold';
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.02em;
  color: #000000;

  font-size: 2.5rem;
  /* line-height: 3rem; */
}

.hero-content2{
  position: static;
  width: 533px;
  height: 117px;
  left: 50px;
  top: 266px;
  font-family: 'poppinsRegular';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.02em;
}

.store-logo2{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: static;
  width: 275px;
  height: 40px;
  left: 0px;
  top: 419px;
  margin-left: -14px;
  margin-bottom: 40px;
}
/* End Hero Section 2 */

/* Hero Section 3 */
.mockup3header{
  margin-left: 199.600px;
  margin-right: 0px;
}

.mockup3_container{
  height: 80vh;
  position: relative;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.mockup3_firstsection{  
  width: 30%
}

.hero-title3{
  position: static;
  width: 676px;
  height: 110px;
  left: 0px;
  top: 100px;

  font-family: 'poppinsSemiBold';
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.02em;
  color: #000000;

  font-size: 2.5rem;
  line-height: 3rem;
}

.hero-content3{
  width: 509px;
  height: 117px;
  left: 0px;
  top: 265px;
  font-family: 'poppinsRegular';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  margin-bottom: 27px;
}

.pick3_parent{
  justify-content: flex-start;
  align-items: flex-end;
  width: 70%;
}

.mockup-pic3{
  height: 100%;
  width: 56vw;
  object-fit: cover;
  position: absolute;
  top: 0px;
}
/* End Hero Section3 */

/* Hero Section4 */
.mockup4header{
  margin-left: 0px;
  margin-right: 199.6px;
}

.mockup4_container{
  height: 80vh;
  position: relative;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.pic4_parent{
  width: 70%;
}

.mockup-pic4{
  height: 100%;
  width: 54vw;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0px;
}

.hero-title4{
  position: static;
  width: 676px;
  height: 128px;
  left: 0px;
  top: 100px;
  font-family: 'poppinsSemiBold';
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.02em;
  color: #000000;
  font-size: 2.5rem;
  line-height: 3rem;
  margin-bottom: 27px;
}

.hero-content4{
  position: static;
  width: 533px;
  height: 117px;
  left: 50px;
  top: 266px;
  font-family: 'poppinsRegular';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  /* line-height: 36px; */
  letter-spacing: 0.02em;
  margin-bottom: 20px;
}
/* End Hero Section4 */

/* Footer */
.footer_logo_header{
  position: relative;
}

.footer_logo_header img{
  position: absolute;
  right: 0px;
}

.social-logos{
  position: relative;
  top: 60px;
  right: 0;
}

.grid_socials{
  position: relative;
  top: 50px;
}

.fb_footer{
  position: absolute;
  right: 0px
}

.twitter_footer{
  position: absolute;
  right: 38px;
}

.ig_insta{
  position: absolute;
  right: 89px;
}

.small_links{
  margin-top: 100px;
}

.small_links p{
  font-family: 'poppinsRegular';
  font-size: 12px;
  text-align:right;
  /* margin-top: 60px; */
}

.card_group{
  width: 50%;
  height: 67px;
}

.visa_card{
  margin-right: 10px
}

.bt_card img{
  margin: 0px;
  width: 81%;
}

.sepa_card img{
  height: 22px;
}

.advcash_card img {
  height: 22px;
}

.xoo_card img{
  height: 23px;
}

footer p{
  font-family: 'poppinsRegular';
}
/* End Footer */

.coin_app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.layout {
  height: 100%;
  width: 100%;
}
