@font-face {
  font-family: avenir;
  src: url('../public/Avenir\ Light.ttf');
}

html,
body {
  background-color: black;
  padding: 0;
  margin: 0;
  font-family: "avenir";
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.coin_app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.layout {
  height: 100%;
  width: 100%;
}
